.code-editor {
  width: 100% !important;

  background-color: #00000080;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);

  border: 2px solid #f9f9f914;
  border-top: none;

  font-weight: 500 !important;
  line-height: 1.5rem !important;
  overflow: auto;

  :global(.ace_content) {
    width: 100% !important;
    top: 12px !important;
    left: 12px !important;
  }

  :global(.ace_scrollbar) {
    display: none !important;
  }

  :global(.ace_scroller) {
    width: 100% !important;
  }
}

.handle-top,
.handle-bottom {
  transform: translateX(-50%) scale(1);
  transition: all 0.4s ease-in-out;
  z-index: 100;
  pointer-events: none;
}

.resize-container:hover .handle-left {
  transform: translateY(-50%) scale(1.3);
  background: #f8fafc;
  transition: all 0.4s ease-in-out;
}
.resize-container:hover .handle-right {
  transform: translateY(-50%) scale(1.3);
  background: #f8fafc;
  transition: all 0.4s ease-in-out;
}

.code-title {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 2px solid #f9f9f914;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-title {
  padding: 0.25rem 0.3rem 0.3rem 0.5rem;
  height: 37px;
  border-radius: 3px;

  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;

  background-color: #191919;
  border: 1px solid #3c3c3c;
  border-radius: 3px;
}

.handle {
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}
